:root {
    --rose-ebony: #63474D;
    --old-rose: #AA767C;
    --buff: #D6A184;
    --tangerine: #FFA686;
    --peach: #FEC196;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    min-height: 100vh;

}



header {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--peach);
    border-bottom: 2px solid white;
}

main {
    padding: 15px 5%;
    background-color: white;
    height: 80vh;
}

.card-container {
    border: 3px solid var(--buff);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px 2%;
    background-color: white;
    padding: 1% 1%;
    border-radius: 10px;
    overflow-y: scroll;
    height: 100%;
}

.card {
    border: 5px solid var(--rose-ebony);
    border-radius: 10px;
    padding: 10px 20px;
    height: 200px;
    border-left: solid 15px var(--tangerine);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.card:hover{
    transform: scale(1.05);
}
.card>p:first-child {
    font-size: 1.2rem;
    font-weight: bold;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30%;
    padding: 20px 1%;
    border: 5px solid var(--rose-ebony);
    border-radius: 10px;
    border-left: solid 15px var(--tangerine);
}


dialog>form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 3%;
    justify-content: center;
}

form>button {
    margin: 10px 0;
    width: 100%;
}

input{
    padding: 3px 0;
}

form>div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

footer {
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 2px solid white;
    background-color: var(--peach);
    align-items: center;
}

footer>button {
    margin: 1% 0;
    width: 100px;
    padding: 5px;
    /* flex: 0 1 100px; */
    position: relative;
    border-radius: 10px;

}

footer>a {
    margin: 5px 10px;
    font-size: 1rem;
}